/* general */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #868686;
  border: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

ul{
  list-style: none;
}

h1,h2,h3,h4,h5{
  color:white
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

/* main */
main{
  display: flex;
  width: 100%;
  height:calc(100vh - 90px) ;
}

.container-left{
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background-color: black;
  padding: 1% 2%;
  line-height: 35px;
  z-index: 2;
}

.logo{
  display: flex;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}

.logo img{
  width: 20%;
  min-width: 30px;
  padding-right: 5px;
}

  /* container-left first menu */
.first-menu{
  width: 100%;
  height: 250px;
  font-size: 13px;
  overflow: auto;
}
.first-menu ul li img{
  width: 27px;
  vertical-align: middle;
}  
.casita{
  border-left:#ADFF2F solid 2px;
}

  /* container-left second menu */
.playlist{
  width: 100%;
  height: calc(100% - 155px);
  margin-top: 10px;
  overflow: auto;
}
.crea-playlist{
  height: 100px;
  margin-top: 13px;
}
.crea-playlist i{
  vertical-align: middle;
  border-radius: none;
  font-size: 40px;
  margin-right: 3px;
}
.playlist .crea-playlist,li{
  font-size: 13px;
}

  /* container-left third menu */
.user{
  width: 100%;
  height: 60px;
}

.user p{
  font-size: 13px;
  border-bottom: 0.5px solid;
}
.user h5 img{
  width: 20px;
  height: 20px;
  background-color:#808080;
  border-radius: 100px;
  vertical-align: middle;
}
.user p img{
  width: 15px;
  height: 15px;
  border-radius: 100px;
  vertical-align: middle;
}

.container-right{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 15%);
  overflow: auto;
  background-color: #141922;
  padding-top: 70px;
}

/* container upgrade */
.container-right .upgrade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 308px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: right;
  padding: 20px 30px;
  z-index: 1;
}

.container-right .upgrade p{
  display: inline-block;
  border: solid white 0.5px;
  border-radius: 50px;
  padding: 5px 30px;
  color: white;
}

/* contenuto-albums-music */
.contenuto-list{
  width: 100%;
  padding: 2% 2.5%;
}

/* nav-bar */
.contenuto-list .nav-bar{
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contenuto-list .nav-bar ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contenuto-list .nav-bar ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;
}

.border-bottom{
  width: 25px;
  margin-top: 2px;
  border-bottom: solid 2px #ADFF2F;
  display: none;
}

/* righe-albums */
.riga{
  width: 100%;
  padding-top: 2%;
  padding-bottom: 3%;
}

.contenuto-list .riga .album{
  width: calc(100% / 6 - 2.5%);
  min-width: 157px;
  max-width: 350px;
  height: 150px;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  text-align: center;
  position: relative;
}

.contenuto-list .riga .album i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}

.contenuto-list .riga .album img{
  width: 100%;
  object-fit: cover;
}

.contenuto-list p{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 13px;
}

/* footer */
footer{
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 5;
}

.play{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
min-width: 384px;
height: 100%;
padding: 0 1%;
background-color: #282828;
}

/* container left  */
.play .sentendo{
 width: calc(100% / 3);
 display: flex;
 align-items: center;
}

.play .sentendo img{
  width: 50px;
  vertical-align: middle;
}

.play .sentendo div{
  margin: 0 5%;
  margin-right: 8%;
  font-size: 10px;
}

.play .sentendo i{
padding: 0 5px;
}

/* container center */
.play .control-music{
  width: calc(100% / 3);
  min-width: 150px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.play .control-music .items-control i{
  font-size: 15px;
  color: #e0e0e0;
  padding: 0 5px;
}

.play .control-music .items-control .fa-play-circle{
  font-size: 25px;
}

.play .control-music .time{
  width: 90%;
  height: 4px;
  border-radius: 1.5px;
  background-color: #5A5A5A;
}

.play .control-music .time div{
  width: 35%;
  height: 4px;
  border-radius: 1.5px;
  background-color: #C1C1C1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* container right */
.play .volume{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% / 3);
}

.play .volume i{
  color: #C1C1C1;
  font-size: 12px;
  padding-right: 3%;
}

.play .volume .barra-volume{
  width: 70px;
  height: 4px;
  border-radius: 1.5px;
  background-color: #5A5A5A;
}

.play .volume .barra-volume-move{
  width: 35%;
  height: 4px;
  border-radius: 1.5px;
  background-color: #C1C1C1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#pallino{
  width: 10px;
  height: 10px;
  border: solid 0.5px white;
  border-radius: 50px;
  background-color: white;
}

/* animation */
.mouse-white:hover{
  color: white;
}

.border-green:hover{
  border-left:#ADFF2F solid 2px;
}

.mouse-white:hover + .border-bottom{
  display: block;
  
}

.play .control-music .time div:hover{
  background-color: #435E13;
}
.play .volume .barra-volume-move:hover{
  background-color: #435E13;
}
.mouse-font:hover{
  transition: 1s;
  font-size: 20px;
}
.play .control-music .items-control i.fa-play-circle:hover{
  transition: 0.5s;
  font-size: 28px;
}

/* medi q */
@media (max-width: 800px){
  main .container-left{
    width: 10%;
    min-width: 49px;
    padding: 0;
  }
  main .container-left .logo{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  main .container-left .logo img{
    padding: 0;
  }
  main .container-left h3,.first-menu,.playlist,.user,.crea-playlist{
    display: none;
  }
  .container-right{
    width: calc(100% - 10%);
  }
  .container-right .contenuto-list{
    padding:0;
  }
  .container-right .contenuto-list .nav-bar ul li{
    width: calc(100% / 4);
    padding: 10px 0;
  }
  .container-right .contenuto-list .riga .album{
    margin: 2% 3%;
  }
  /* footer */
  .play .sentendo div{
    margin: 2%;
  }
  .play .sentendo span{
    display: flex;
    flex-direction: column;
    line-height: 10px;
  }

} 

@media (min-width: 800px) and (max-width: 992px){
  main .container-left{
    width: 15%;
    min-width: 259px;
  }

  main .container-left .logo #no{
    display: none;
  }

  .container-right .contenuto-list .nav-bar ul li{
    width: calc(100% / 3);
    padding: 10px 0;
  }
  .container-right .contenuto-list .riga .album{
    margin: 2% 3%;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  main .container-left{
    min-width: 259px;
  }
  main .container-left .logo #no{
    display: none;
  }
  .container-right .contenuto-list .riga .album{
    margin: 2% 3%;
  }
}

@media (min-width: 1200px){
  main .container-left{
    min-width: 259px;
  } 
  main .container-left .logo #no{
    display: none;
  }
  .container-right .contenuto-list .riga .album{
    margin: 2% 0.5%;
  }

}

